html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,menu,input,textarea
{margin:0; padding:0; font-size:100%; list-style: none; text-decoration: none; box-sizing: border-box;}

.container_login{
	display: flex;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000000000000000;
	justify-content: center;
	align-items: center;
    display: none;

}

.container_login.exibir{
	display: flex;
}

.box_login{
	background: white;
	width: 62%;
	min-width: 300px;
	padding: 40px;
	border: 1px solid #988b7a;
	box-shadow: 0 1px 39px 1px #342e2e;
	border-radius: 15px;
	position: relative;
}

.box_login h3{
	box-shadow:  0 4px 4px 0  rgba(0,0,0,.4);
	font-family: verdana;
	font-size: 1.2rem;
	text-align: center;
	margin: 20px 0px;
}
.senha{
	display: block;
	height: 30px;
	width: 100%;
	max-width: 340px;
	margin: 15px auto;
	background: #f1f1f1;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
	border: 0;
	font-family: verdana;
	font-size: 1.2rem;
	text-align: center;
			
}
.login{
	display: block;
	height: 30px !important;
	width: 100%;
	max-width: 340px;
	margin: 15px auto;
	background: #f1f1f1;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
	font-family: verdana;
	font-size: 1.2rem;
	border: 0;
	text-align: center;
			
}

@keyframes modal {
	from{
		opacity: 0;
		transform: translate3d(0, -60px, 0);
	}
	
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}



.exibir .box_login{
	animation: modal 5s;
}

.fechar{
	position: absolute;
	top: -22px;
	right: -23px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 4px solid white;
	background: black;
	color: white;
	font-family: verdana;
	cursor: pointer;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.3)
	
}

input[name="btn_login"] {
	background: black;
	color: white;
	height: 30px;
	width: 100%;
	max-width:200px;
	margin: auto;
	display: block;
	cursor: pointer;
	border: 0;
	border-radius: 10px;
	text-transform: uppercase;
}
input[name="btn_login"]:hover {
	background: #C41919;
}

.modal_cadastro_usuario{
	background: rgba(0,0,0,.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90000000;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal_cadastro_usuario.exibir{
	display: flex;
}

.box_cadastro_usuario{
	background: white;
	width: 70%;
	min-width: 300px;
	padding: 40px;
	border: 1px solid #988b7a;
	box-shadow: 0 1px 39px 1px #342e2e;
	position: relative; 
	border-radius: 15px;
}

.box_cadastro_usuario h3{
	font-family: 'PT Mono', monospace;
	font-size: 1.4rem;
	text-align: center;
}

.box_cadastro_usuario input[type="submit"]{
	display: block;
	background: black;
	width: 100%;
	height: 30px;
	color: white;
	font-weight: 700;
    border-radius:15px;
}
.box_cadastro_usuario input[type="submit"]:hover{
	background-color:  #C41919;

}

@keyframes modal_cadastro_usuario{
	from {
		opacity: 0;
		transform: translate3d(0,-60px,0);
	}

	to {
      opacity: 1;
      transform: translate3d(0, 0px,0);
	}
}

.exibir .box_cadastro_usuario {
	animation: modal_cadastro_usuario 5s;
}